#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

button {
  color: green;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  border: black solid 1px;
}
